ErrorDocument 404 /404.php

RewriteEngine on

RewriteRule ^([\w]{2})/([\w]+)/([\w]+)$ /index.php?isolang=$1&c=$2&a=$3 [QSA,L]

RewriteRule ([\w]+)/([\w]+) /index.php?c=$1&a=$2 [QSA,L]

RewriteRule ^([a-z]{2})([/^?&]*)$ /index.php?isolang=$1 [QSA,L]

RewriteRule ^([a-z]+)([/^?&]*)$ /index.php?isolang=en&c=$1 [QSA,L]