.wtf-wrapper .tiles {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
}
.wtf-wrapper li.inactive {
    visibility: hidden;
    opacity: 0;
}
.wtf-wrapper li.item-card .content{
    margin: 7px 7px 0;
}
.wtf-wrapper .content .row{margin:2px 0 0;}
.wtf-wrapper .item-card strong {
    border-bottom: 1px solid #ccc;
    margin: 8px 7px;color:#444;
    display: block;
    padding: 0 0 5px;
    font-size: 15px;
}
.wtf-wrapper .item-card .meta {color: #555;text-align: right;font-style: italic;margin:2px 0 0;}
.wtf-wrapper .item-card b{color:#444}
.wtf-wrapper .item-card .top-content{padding:4px;}
.wtf-wrapper .item-card .img-thumbnail{border:0;padding:0;border-radius:0}
.wtf-wrapper li.item-card {
    width: 200px;
    float: left;
    background-color: #ffffff;
    font-size:13px;
    box-shadow: 0 1px 3px rgba(34,25,25,0.3);
    -moz-box-shadow: 0 1px 3px 1px rgba(34,25,25,0.3);
    -webkit-box-shadow: 0 1px 3px 1px rgba(34,25,25,0.3);

    cursor: pointer;
    padding: 4px;
    display: block;
    position: absolute;
    margin: 0;
    -webkit-transition: top 0.5s ease, left 0.5s ease;
    -moz-transition: top 0.5s ease, left 0.5s ease;
    -o-transition: top 0.5s ease, left 0.5s ease;
    -ms-transition: top 0.5s ease, left 0.5s ease;
}
.wtf-wrapper .tiles img {display: block;height: auto;width:100%;}
.wookmark-placeholder {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}